* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
body {
    background: linear-gradient( to bottom right, rgb(115, 88, 214),rgb(113, 144, 231));
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;

}
.theme-toggler {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}
.theme-toggler.active {
    color: #333;
}
.theme-toggler.active::before {
    background-color: #fff;
}
.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}
#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }
#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}
button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
button:hover {
    transform: scale(1.1);
}
button#equal {
    height: 130px;
}
.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}
.calculator button.btn-operator {
    background-color: #17ecf7;
    color: #080408;
  }

.calculator button.btn-number {
    background-color: #07ff83;
    color: #000000;
}
.calculator button.btn-equal {
    background-color: #1fff8b;
    color: #000;
  }

.calculator.dark {
    background-color: #1a1b1cf3;
  }

.calculator.dark #display {
    color: #f8fafb;
  }

.calculator.dark button#clear {
    background-color: #c09fa7;
    color: #d5e7ec;
  }
.calculator.dark button.btn-operator {
    background-color: #d4dfdc;
    color: #248484;
  }
.calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
  }
.calculator.dark button.btn-equal {
    background-color: #79f1e7;
    color: #ffffff;
  }